{{#> "modules/monsterblock/templates/dnd5e/collapsibleSection.hbs" title="MOBLOKS5E.LairActionsHeading" section="lair"}}
	<p class="lair-description">{{localize "MOBLOKS5E.LairText" name=actor.name}}</p>
	<ul>
	{{#each features.lair.items as |item iid|}}
		<li>
			{{> "modules/monsterblock/templates/dnd5e/parts/featureBlock.hbs" item=item lairactions=true}}
		</li>
	{{/each}}
	</ul>
{{/"modules/monsterblock/templates/dnd5e/collapsibleSection.hbs"}}