<h2 class="section-header">{{ localize "MOBLOKS5E.LairActionsHeading" }}</h2>
<section>
	<p class="special-description">{{ localize "MOBLOKS5E.LairText" name=actor.name }}</p>
	{{#each features.lair.items as |item iid|}}
		{{> "modules/monsterblock/templates/dnd5e/parts/featureBlock.hbs" item=item actor=@root.actor lairactions=true flags=@root.flags}}
	{{/each}}
</section>