{{#> "modules/monsterblock/templates/dnd5e/collapsibleSection.hbs"
	title="DND5E.LegAct"
	section="legendary"
	resource-key="system.resources.legact"}}
	<p class="legendary-description">
		<!-- # TODO - Fix this because it shows up as "undefined" -->
		{{localize "MOBLOKS5E.LegendaryText" name=actor.name number=system.resources.legact.max}}
	</p>
	{{#each features.legendary.items as |item iid|}}
		{{#if (and item.is.legendary (not item.is.legResist))}}
			{{> "modules/monsterblock/templates/dnd5e/parts/featureBlock.hbs" item=item legendaryactions=true}}
		{{/if}}
	{{/each}}
{{/"modules/monsterblock/templates/dnd5e/collapsibleSection.hbs"}}
