
.monsterblock .window-header,
.dnd5e.npc .window-header {
	padding-left: 30px;
}
.monsterblock .window-header {
	padding-right: 8ch;
}
.monsterblock .window-header a.close {
	position: absolute;
	right: 9px;
	height: 30px !important;	/* Prevents other modules that might try 100% from messing this up now that it's an absolute element. */
}
.switches, .monsterblock {
	--column-width: 390px;
}
.monsterblock {
	width: 100%;
	font-size: 14px;
	--heading-color: rgb(89 23 13);
	--roll-hover-color: hsl(8 70% 14% / 1);
	--divider-color: rgba(140, 42, 42, 1);
	--divider-color-end: rgba(140, 42, 42, 0);
	--background-filter: hsl(39deg 100% 60% / 80%);
	--background-blend: hard-light;
	--menu-background: #f7e2ac;
	--main-text-color: black;
	--inline-link-color: #ff6400;
	--faded-text: #80808080;
	--shadow-color: var(--main-text-color);
}
.monsterblock.dark-theme {
	font-size: 14px;
	color: white;
	--heading-color: rgb(121 121 121);
	--roll-hover-color: hsl(199deg 9% 66%);
	--divider-color: rgb(46 68 130);
	--background-filter: hsl(0deg 0% 0% / 87%);
	--background-blend: darken;
	--main-text-color: #aaa;
	--inline-link-color: #879ba9;
	--shadow-color: var(--divider-color);
}
.monsterblock.srd-theme {
	font-size: 14px;
	color: white;
	--heading-color: rgb(0 0 0);
	--roll-hover-color: #828282;
	--divider-color: rgb(0 0 0);
	--background-filter: white;
	--background-blend: color;
	--main-text-color: #000;
	--inline-link-color: #808080;
	--shadow-color: var(--main-text-color);
}
.monsterblock.cool-theme {
	--heading-color: rgb(0 37 93);
	--roll-hover-color: hsl(202deg 39% 38%);
	--divider-color: rgb(37 120 169);
	--background-filter: hsl(180deg 100% 66% / 54%);
	--background-blend: hard-light;
	--main-text-color: #000000;
	--inline-link-color: #246094;
	--shadow-color: var(--main-text-color);
}
.monsterblock.hot-theme {
	--heading-color: rgb(123 28 0);
	--roll-hover-color: hsl(0deg 50% 37%);
	--divider-color: rgb(86 0 0);
	--background-filter: hsl(0deg 96% 2% / 87%);
	--background-blend: darken;
	--main-text-color: #a7a1a1;
	--inline-link-color: #ab4b2e;
	--shadow-color: var(--divider-color);
}

.monsterblock * {
	user-select: text;
	overflow-wrap: break-word;
}
.monsterblock main {
	display: block;
	break-inside: auto;
	position: relative;
}
.monsterblock .hidden {
	display: none;
}
.monsterblock a[href] {
	color: var(--inline-link-color);
}
.monsterblock a[href]:hover {
	text-shadow: 0 0 8px var(--inline-link-color);
}
.monsterblock .window-content {
	background: url(/ui/parchment.jpg), var(--background-filter);
	background-repeat: repeat;
	background-blend-mode: var(--background-blend);
	color: var(--main-text-color);
	background-position: 0px 130px;
}
.window-app .switches {
	/* background: red; */
	width: 29px;
	padding-left: 6px;
	height: 24px;
	position: absolute;
	top: 7px;
	left: 2px;
	color: #aaa;
}
.window-app.dnd5e .switches {
	--background-filter: rgba(0, 0, 0, 0);
	--background-blend: none;
	--heading-color: black;
	--divider-color: gray;
}
.window-app .switches a {
	width: 100%;
	height: 100%;
	display: inline-block;
}
.window-app .switches a.nochild {
	width: initial;
}
.window-app .switches ul {
	margin: 0;
	top: 0;
	display: none;
	position: absolute;
	background: url(/ui/parchment.jpg), var(--background-filter);
	background-repeat: repeat;
	background-blend-mode: var(--background-blend);
	color: var(--heading-color);
	padding: 0;
	left: 100%;
	z-index: 100;
	box-shadow: -1px 1px 5px 0px var(--shadow-color);
}
.window-app .switches > ul {
	top: 23px;
	left: -2px;
}
.window-app .switches:hover > ul {
	display: block;
}
.window-app .switches li a:not(:only-child):after {
	display: block;
	content: '>';
	position: absolute;
	right: .2em;
	top: 0;
}
.window-app .switches li a.nochild:not(:only-child):after {
	content: "";
}
.window-app .switches li:hover > ul {
	display: block;
}
.window-app .switches li {
	margin: 0;
	width: calc(var(--column-width) / 2);
	position: relative;
	display: inline-block;
	padding: 2px;
	padding-right: 14px;
	padding-left: 8px;
	border-left: 3px solid var(--divider-color);
	border-bottom: 1px dashed gray;
}

.monsterblock .switches .selected:after {
	content: " \2713";
	font-size: .7em;
	font-weight: bold;
}
.monsterblock .switches .custom-class-input {
	width: 60%;
	
}
.monsterblock .inline-secrets .secret {
	display: inline;
	border: none;
	background: none;
	padding: 0;
}
.monsterblock .hidden-secrets .secret {
	display: none;
}
.monsterblock a.inline-roll .fa-dice-d20 {
	display: inline;
	color: var(--main-text-color);
}
.monsterblock a.inline-roll {
	border: none;
	background: none;
	padding: 0;
}
.monsterblock .inline-secrets
.secret > :first-child {
	display: inline;
}

.monsterblock input.hp-input {
	width: 4ch;
	height: 1em;
	padding: 0;
}
.monsterblock .ability:hover, .monsterblock .saving-throw:hover, .monsterblock .skill:hover, .monsterblock .item-name:hover, .monsterblock .spell:hover, .monsterblock a.inline-roll:hover, .monsterblock [data-roll-formula]:hover, .monsterblock .window-content a:hover, .monsterblock .tweak-menu ul label:hover {
	text-shadow: 0px 0px .05em var(--roll-hover-color);
	cursor: pointer;
	color: var(--roll-hover-color);
}

.monsterblock .flexcol {
    display: block;
    height: 100%;
    /* width: var(--column-width); */
    column-width: var(--column-width);
    column-gap: 35px;
    column-fill: balance;
    /* border: 1px solid red; */
}

.monsterblock .monster-attributes2 {
	position: relative;
}
.monsterblock .sheet-header {
	display: block;
	position: relative;
}
.monsterblock .sheet-header section:not(:first-of-type)::before,
.monsterblock main::before {
	margin-top: .5em;
	margin-bottom: .5em;
	display: block;
	/* width: var(--column-width); */
	content: "";
	border: none;
	border-top: .2em solid transparent;
	border-bottom: .2em solid transparent;
	border-left: var(--column-width) solid var(--divider-color);
}
.monsterblock .editing main.bio-box:hover::before {
	border-left: var(--column-width) solid var(--divider-color);
}
.monsterblock .editing .sheet-header section.monster-attributes2:hover::before,
.monsterblock .editing .sheet-header section.monster-attributes2.menu-active::before,
.monsterblock .editing main:hover::before,
.monsterblock .editing main.menu-active::before {
	border-left: calc(var(--column-width) - 2.5ch) solid var(--divider-color);
}
.monsterblock .tweak-menu {
	display: block;
	width: 1em;
	height: 1em;
	position: absolute;
	right: 0.2em;
	top: -0.4em;
	margin: 0;
	text-align: center;
	visibility: hidden;
	cursor: pointer;
}
.monsterblock .simple-menu {
	display: inline;
	margin: 0;
}
.monsterblock .menu .overflow-fix {
	position: fixed;
	margin: 0;
	z-index: 10;
}
.monsterblock .tweak-menu > label {
	color: var(--divider-color);
}
.monsterblock .tweak-menu .overflow-fix > ul > li {
	padding-left: 2ch;
}
.monsterblock .tweak-menu li > ul {
	right: 100%;
	top: calc(-.5em - 66px);
	top: 0px;
	transform: translateY(-40%);
}

.monsterblock .tweak-menu ul {
	padding: 0;
	box-shadow: 1px 1px 5px 0px var(--shadow-color);
	width: calc(var(--column-width) / 2);
	color: var(--heading-color);
}
.monsterblock .tweak-menu .overflow-fix > ul {
	right: -8px;
	top: -.4em;
}
.monsterblock .tweak-menu li {
	position: relative;
	margin: 0;
	width: calc(var(--column-width) / 2);
	position: relative;
	display: inline-block;
	padding: 2px;
	padding-left: 2ch;
	padding-right: 1ch;
	border-right: 3px solid var(--divider-color);
	border-bottom: 1px dashed gray;
}
.monsterblock .menu label,
.monsterblock .menu h4 {
	cursor: pointer;
	user-select: none;
}
.monsterblock .menu label {
	display: inline-block;
	width: 100%;
}
.monsterblock .tweak-menu li label:not(:only-child):before {
	display: block;
	position: absolute;
	left: .2em;
	content: '<';
	top: 1px;
}
.monsterblock .tweak-menu li.custom-trait {
	padding: 4px;
}
.monsterblock .custom-trait input {
	width: 100%;
	color: var(--main-text-color);
}
.monsterblock .custom-trait .trait-sel-label {
	font-size: .8em;
}
.monsterblock .tweak-menu .custom-trait > label:hover {
	color: currentColor;
	text-shadow: none;
}
.monsterblock .tweak-menu.menu-open > label,
.monsterblock .menu.menu-open .overflow-fix > ul,
.monsterblock .menu li.menu-open > ul {
	visibility: visible;
}
.monsterblock .menu-open > label {
	font-weight: bold;
}
.monsterblock .menu li a {
	display: inline-block;
	width: 100%;
}
.monsterblock main:hover .tweak-menu,
.monsterblock .monster-attributes2:hover .tweak-menu {
	visibility: visible;
}

.monsterblock .delete-item {
	/* display: none; */
	visibility: hidden;
	font-size: .75em;
	position: fixed;
	/* border: red 1px solid; */
	/* width: 3em; */
	/* height: 2em; */
	padding-right: 5px;
}
.monsterblock .delete-item:before {
	position: absolute;
	width: 2em;
	height: 2em;
	/* border: 1px solid green; */
	content: ' ';
	left: -2em;
	top: -2px;
}
.monsterblock .delete-item i {
	background: url(/ui/parchment.jpg), var(--background-filter);
	background-repeat: repeat;
	background-blend-mode: var(--background-blend);
	box-shadow: 0px 0px 5px 0px var(
	--shadow-color);
	width: 1.5em;
	position: absolute;
	left: -20px;
	top: 1px;
	height: 1.5em;
	text-align: center;
	padding-top: .25em;
	border-radius: .75em;
	text-indent: 0;
}
.monsterblock *:hover > .delete-item {
	visibility: visible;
	/* display: inline; */
}
.monsterblock .skill-ability {
	text-transform: capitalize;
	float: right;
	width: 5ch;
	text-align: center;
	color: var(--main-text-color)
}
.monsterblock .menu-item-icon {
	position: relative;
	display: inline-block;
	width: 3.5ch;
	top: 1px;
}
.monsterblock .charname {
	font-size: 2em;
	color: var(--heading-color);
	font-family: serif;
	font-variant: small-caps;
	font-weight: bold;
}
.monsterblock .chartype {
	font-style: italic;
	margin: 0;
}
.monsterblock .image-enabled .charname,
.monsterblock .image-enabled .chartype,
.monsterblock .image-enabled .monster-attributes1 .attributes {
	width: 265px;
}
.monsterblock .profile-image {
	border: none;
	position: absolute;
	height: 110px;
	width: 110px;
	right: 0;
	top: 0;
	margin: 0;
	cursor: pointer;
	z-index: 10;
}
.monsterblock .profile-image img {
	object-fit: contain;
	width: 100%;
	height: 100%;
	border: none;
}
.monsterblock .profile-image:hover {
	width: 300px;
	height: 300px;
	z-index: 75;
}
.monsterblock .attributes, .monsterblock .ability-scores {
	list-style: none;
	color: var(--heading-color);
	padding: 0;
	margin: 0;
}

.monsterblock .ability-scores .ability {
	text-align: center;
}

.monsterblock .attributes .attribute {
	margin: 0;
	padding-left: 2ch;
	text-indent: -2ch;
	position: relative;
}
.monsterblock .attribute-name {
	display: inline;
	font-weight: bold;
}
.monsterblock .ability-name {
	display: block;
	font-weight: bold;
	margin: 0;
	text-transform: uppercase;
}
.monsterblock .monster-saves .ability-name {
	display: inline;
	font-weight: normal;
	text-transform: capitalize;
}

.monsterblock input {
	border: none;
}
.monsterblock .inline-list {
	display: inline;
	list-style: none;
	padding: 0;
}
.monsterblock .inline-list li {
	display: inline;
}
.monsterblock .inline-list li:after {
    content: var(--list-seperator) ' ';
    text-shadow: none;
	color: var(--main-text-color);
}
.monsterblock header .inline-list li:after {
	color: var(--heading-color);
}

.monsterblock .inline-list li:last-of-type:after {
    content: '';
}
.monsterblock .spell-list {
	list-style: none;
	margin-top: 1em;
	padding: 0;
	padding-left: 2ch;
	text-indent: -2ch;
}
.monsterblock .at-will-spells {
	display: inline;
	list-style: none;
	padding: 0;
}
.monsterblock .at-will-spells li {
	display: inline;
}
.monsterblock .at-will-spells li:after {
	content: var(--list-seperator) ' ';
	text-shadow: none;
	color: var(--main-text-color);
}
.monsterblock .at-will-spells 
li:not(:first-of-type):nth-last-of-type(2):after {
	content: var(--list-seperator) ' ' var(--list-conjuntion) ' ';
}
.monsterblock .at-will-spells 
li:nth-last-of-type(2):after {
	content: ' ' var(--list-conjuntion) '  ';
}
.monsterblock .at-will-spells li:last-of-type:after {
	content: '';
}
.monsterblock .spell-name {
	font-style: italic;
}
.monsterblock .monster-saves .ability {
	display: inline;
}
.monsterblock .section-header {
	break-before: auto;
	break-after: avoid;
	break-inside: avoid;
	margin-top: 0.5em;
	margin-bottom: -.4em;
	line-height: 1em;
	font-size: 1.5em;
	color: var(--heading-color);
	font-variant: small-caps;
	border-bottom: 1px solid var(--heading-color);
}
.monsterblock .item {
	margin-top: 1em;
}
.monsterblock .item-name,
.monsterblock .name-extension {
	font-weight: bold;
	font-style: italic;
}
.monsterblock .spell .name-extension {
	font-weight: initial;
}
.monsterblock .legendary-actions .feature-description {
	padding-left: 2ch;
	text-indent: -2ch;
}
.monsterblock .legendary-actions .item-name,
.monsterblock .legendary-actions .name-extension {
	font-weight: bold;
	font-style: normal;
}
.monsterblock .legendary-actions,
.monsterblock .lair-actions {
	margin: 0;
}
.monsterblock .legendary-description {
	margin-top: 1em;
	margin-bottom: 1em;
}

.monsterblock .attack-type {
	font-style: italic;
}
.monsterblock .hit-label {
	font-style: italic;
}
.monsterblock .inline-children 
.description p:first-of-type,
.monsterblock .inline-children 
.description div:first-of-type {
	display: inline;
}
.monsterblock .description {
	line-height: 1.3em;
}

.monsterblock *:hover > [contenteditable=true]:empty::after,
.monsterblock [contenteditable=true]:focus:empty::after {
	text-shadow: none;
	content: attr(placeholder);
	color: var(--faded-text);
}
.monsterblock .optional-comma:not(:empty):before {
	content: var(--list-seperator) ' ';
}
.monsterblock .editing *:hover > .optional-comma:empty:before {
	content: var(--list-seperator) ' ';
	color: var(--faded-text);
}
.monsterblock .optional-space:not(:empty):before,
.monsterblock .editing *:hover > .optional-space:empty:before {
	content: '\00a0';
}
.monsterblock [contenteditable=true]:empty {
	display: inline-block;
	text-indent: 0;
}
.monsterblock [contenteditable=true]:active,
.monsterblock [contenteditable=true]:focus, 
.monsterblock [contenteditable=true]:hover {
	outline: none;
	text-decoration: dotted underline;
}
.monsterblock .select-field:hover .select-label,
.monsterblock .select-list li:hover {
	text-decoration: dotted underline;
}

.monsterblock .select-field {
	display: inline;
	position: relative;
	cursor: pointer;
}
.monsterblock .select-label {
	cursor: pointer;
}
.monsterblock .select-list,
.monsterblock .hover-list,
.monsterblock .simple-menu ul {
	padding-left: .3em;
	padding-right: .4em;
	box-shadow: 0px 0px 1px 0px var(--shadow-color);
}
.monsterblock .select-list,
.monsterblock .hover-list,
.monsterblock .menu ul {
	visibility: hidden;
	display: block;
	position: absolute;
	list-style: none;
	background: url(/ui/parchment.jpg), var(--background-filter);
	background-repeat: repeat;
	background-blend-mode: var(--background-blend);
	z-index: 1;	
}
.monsterblock .menu ul {
	text-align: left;
}
.monsterblock .select-list {
	top: .7em;
	left: -.3em;
}
.monsterblock .select-list li {
	cursor: pointer;
}
.monsterblock .select-field:hover .select-list {
	visibility: visible;
}
.monsterblock .editor {
	height: 100%;
}
.monsterblock .bio-box h2 {
	margin-top: 2.5em;
}
.monsterblock .biography {
	margin-top: 2em;
	--min-height: 30em;
	max-height: var(--column-width);
	margin-top: .5em;
	height: fit-content;
	min-height: var(--min-height);
	overflow-y: auto;
	align-content: flex-start;
	display: block;
	break-inside: auto;
	flex-direction: column;
	flex-wrap: nowrap;
}
.monsterblock .biography .editor-content {
	min-height: var(--min-height);
}
.monsterblock .biography .tox-tbtn--select.tox-tbtn--bespoke {
	font-size: .7em;
	width: 10ch;
}
.monsterblock .header-resource {
	float: right;
	font-size: .7em;
}
.monsterblock .hover-list,
.monsterblock .simple-menu ul {
	text-indent: 0;
	width: fit-content;
	top: -7px;
	left: -1.3em;
	white-space: nowrap;
}
.monsterblock *:hover > .position-wrapper > .hover-list {
	visibility: visible;
}
.monsterblock .position-wrapper {
	width: 0px;
	height: 0px;
	position: fixed;
	margin: 0;
	z-index: 1;
}