.window-app .window-header {
	padding-right: 8ch;
}
.monsterblock .window-header,
.dnd5e.npc .window-header {
	padding-left: 30px;
}
.window-header .close {
	position: absolute;
	right: 6px;
}

.monsterblock, .switches {
	width: 100%;
	font-size: 14px;
	--heading-color: rgb(89 23 13);
	--roll-hover-color: hsl(8 70% 14% / 1);
	--divider-color: rgba(140, 42, 42, 1);
	--divider-color-end: rgba(140, 42, 42, 0);
	--background-filter: hsl(50 100% 50% / 0.28);
	--background-blend: luminosity;
	--menu-background: #e9e0c3;
}
.monsterblock * {
	user-select: text;
	break-inside: auto;
	break-after: auto;
	overflow-wrap: break-word;
}
.monsterblock .window-content {
	background: url(/ui/parchment.jpg), var(--background-filter);
	background-repeat: repeat;
	background-blend-mode: var(--background-blend);
}
.window-app .switches {
	/* background: red; */
	width: 29px;
	padding-left: 6px;
	height: 24px;
	position: absolute;
	top: 7px;
	left: 2px;
	color: #aaa;
}
.window-app .switches a {
	width: 100%;
	height: 100%;
	display: inline-block;
}
.window-app .switches ul {
	margin: 0;
	top: 0;
	display: none;
	position: absolute;
	background-color: var(--menu-background);
	color: var(--heading-color);
	padding: 0;
	left: 100%;
	z-index: 100;
	box-shadow: -1px 1px 5px 0px black;
}
.window-app .switches > ul {
	top: 23px;
	left: -2px;
}
.window-app .switches:hover > ul {
	display: block;
}
.window-app .switches li a:not(:only-child):after {
	display: block;
	content: '>';
	position: absolute;
	right: .2em;
	top: 0;
}
.window-app .switches li:hover > ul {
	display: block;
}
.window-app .switches li {
	margin: 0;
	width: 200px;
	position: relative;
	display: inline-block;
	padding: 2px;
	padding-right: 14px;
	padding-left: 8px;
	border-left: 3px solid var(--divider-color);
	border-bottom: 1px dashed gray;
}
.monsterblock .inline-secrets .secret {
	display: inline;
	border: none;
	background: none;
	padding: 0;
}
.monsterblock .hidden-secrets .secret {
	display: none;
}
.monsterblock a.inline-roll .fa-dice-d20 {
	display: inline;
	color: black;
}
.monsterblock a.inline-roll {
	border: none;
	background: none;
	padding: 0;
}
.monsterblock .inline-secrets
.secret > :first-child {
	display: inline;
}
.monsterblock form {
	
}
.monsterblock .ability:hover,
.monsterblock .saving-throw:hover,
.monsterblock .skill:hover,
.monsterblock .item-name:hover,
.monsterblock .spell:hover,
.monsterblock a.inline-roll:hover,
.monsterblock [data-roll-formula]:hover {
	text-shadow: 0px 0px .05em var(--roll-hover-color);
	cursor: pointer;
	color: var(--roll-hover-color);
}

.monsterblock .flexcol {
    display: block;
    height: 100%;
    /* width: 390px; */
    column-width: 390px;
    column-gap: 35px;
    column-fill: balance;
    /* border: 1px solid red; */
}

.monsterblock .sheet-header {
	display: block;
	position: relative;
}
.monsterblock .sheet-header section::after {
	margin-top: .5em;
	margin-bottom: .5em;
	display: block;
	/* width: 390px; */
	content: "";
	border: none;
	border-top: .2em solid transparent;
	border-bottom: .2em solid transparent;
	border-left: 390px solid var(--divider-color);
}

.monsterblock .charname {
	font-size: 2em;
	color: var(--heading-color);
	font-family: serif;
	font-variant: small-caps;
	font-weight: bold;
}
.monsterblock .chartype {
	font-style: italic;
	margin: 0;
}
.monsterblock .image-enabled .charname,
.monsterblock .image-enabled .chartype,
.monsterblock .image-enabled .monster-attributes1 .attributes {
	width: 265px;
}
.monsterblock .profile-image {
	background-size: contain;
	background-position: right;
	background-repeat: no-repeat;
	border: none;
	position: absolute;
	height: 110px;
	width: 110px;
	right: 0;
	top: 0;
	margin: 0;
}
.monsterblock .profile-image:hover {
	width: 300px;
	height: 300px;
	z-index: 75;
}
.monsterblock .attributes, .monsterblock .ability-scores {
	list-style: none;
	color: var(--heading-color);
	padding: 0;
	margin: 0;
}
.monsterblock .monster-attributes1 .attributes {
}

.monsterblock .ability-scores .ability {
	text-align: center;
}

.monsterblock .attributes .attribute {
	margin: 0;
	padding-left: 2ch;
	text-indent: -2ch;
}
.monsterblock .attribute-name {
	display: inline;
	font-weight: bold;
}
.monsterblock .ability-name {
	display: block;
	font-weight: bold;
	margin: 0;
	text-transform: uppercase;
}
.monsterblock .monster-saves .ability-name {
	display: inline;
	font-weight: normal;
	text-transform: capitalize;
}

.monsterblock input {
	display: none;
	border: none;
}
.monsterblock .inline-list {
	display: inline;
	list-style: none;
	padding: 0;
}
.monsterblock .inline-list li {
	display: inline;
}
.monsterblock .inline-list li:after {
    content: ', ';
}

.monsterblock .inline-list li:last-of-type:after {
    content: '';
}
.monsterblock .spell-list {
	list-style: none;
	margin-top: 1em;
	padding: 0;
	padding-left: 2ch;
	text-indent: -2ch;
}
.monsterblock .at-will-spells {
	display: inline;
	list-style: none;
	padding: 0;
}
.monsterblock .at-will-spells li {
	display: inline;
}
.monsterblock .at-will-spells li:after {
	content: ', ';
}
.monsterblock .at-will-spells 
li:not(:first-of-type):nth-last-of-type(2):after {
	content: ', and ';
}
.monsterblock .at-will-spells 
li:nth-last-of-type(2):after {
	content: ' and ';
}
.monsterblock .at-will-spells li:last-of-type:after {
	content: '';
}
.monsterblock .spell-name {
	font-style: italic;
}
.monsterblock .monster-saves .ability {
	display: inline;
}
.monsterblock .section-header {
	margin-top: 0.5em;
	margin-bottom: -.4em;
	line-height: 1em;
	font-size: 1.5em;
	color: var(--heading-color);
	font-variant: small-caps;
}
.monsterblock .item {
	margin-top: 1em;
}
.monsterblock .item-name,
.monsterblock .feature-name,
.monsterblock .name-extension {
	font-weight: bold;
	font-style: italic;
}
.monsterblock .legendary-actions .feature-description {
	padding-left: 2ch;
	text-indent: -2ch;
}
.monsterblock .legendary-actions .item-name,
.monsterblock .legendary-actions .name-extension {
	font-weight: bold;
	font-style: normal;
}
.monsterblock .legendary-actions,
.monsterblock .lair-actions {
	margin: 0;
}
.monsterblock .legendary-description {
	margin-top: 1em;
	margin-bottom: 1em;
}

.monsterblock .attack-type {
	font-style: italic;
}
.monsterblock .attack-bonus {
}
.monsterblock .attack-bonus:after {
}
.monsterblock .hit-label {
	font-style: italic;
}
.monsterblock .inline-children 
.description p:first-of-type,
.monsterblock .inline-children 
.description div:first-of-type {
	display: inline;
}
.monsterblock .description {
	line-height: 1.3em;
}

.endAnchor {
	width: 100%;
	/* visibility: hidden; */
	display: block;
	border: 1px solid red;
	/* height: 1em; */
	/* box-sizing: border-box; */
}