<ul class="attributes">

{{! Armor Class }}
	<li class="attribute">
		<span class="attribute-wrapper">
			{{> "modules/monsterblock/templates/dnd5e/parts/header/attributes/armorclass.hbs"}}
		</span>
	</li>

{{! Hit Points }}
	<li class="attribute health">
		{{> "modules/monsterblock/templates/dnd5e/parts/header/attributes/hitpoints.hbs"}}
	</li>

{{! Movement Speeds }}

	<li class="attribute">
		<span class="attribute-wrapper">
			{{> "modules/monsterblock/templates/dnd5e/parts/header/attributes/movement.hbs"}}
		</span>
	</li>

</ul>