<li>
	<a class="switch" data-control="{{control}}">
		{{~#if (lookup flags control)}}
			{{~ localize (moblok-concat "MOBLOKS5E." control ".disable") ~}}
		{{~else}}
			{{~ localize (moblok-concat "MOBLOKS5E." control ".enable") ~}}
		{{~/if~}}
	</a>
	{{#if @partial-block}}
		{{> @partial-block }}
	{{/if}}
</li>