{{#if trait.visible}}
	<li class="attribute">
		<span class="attribute-wrapper">
			<h4 class="attribute-name">{{localize label}}</h4>
			<ul class="traits-list inline-list no-caps">
			{{~#each trait.selected as |v|~}}
				<li class="trait-value">{{v}}</li>
			{{~/each~}}
			</ul>
			{{~#if trait.physical}}
				<span>
					{{~#if trait.selected.size~}}{{localize "MOBLOKS5E.SemiColon"}}{{/if}}
					{{trait.physical}}
				</span>
			{{~/if~}}
		</span>
	</li>
{{/if}}
