<form	class="{{cssClass}} flexcol{{#if flags.inline-secrets}} inline-secrets{{/if}}{{#if flags.hidden-secrets}} hidden-secrets{{/if}}{{#if flags.editing}} editing{{/if}}" 
		autocomplete="off"
		style="--list-seperator: '{{ localize 'MOBLOKS5E.Comma' }}'; --list-conjuntion: '{{ localize 'MOBLOKS5E.ListFinalConjunctionAnd' }}'; "
	>
	{{#if owner}}
		{{> "modules/monsterblock/templates/dnd5e/switches.hbs"}}
	{{/if}}

	{{#if flags.show-bio}}
		{{> "modules/monsterblock/templates/dnd5e/bio.hbs"}}
	{{else}}
		{{> "modules/monsterblock/templates/dnd5e/header.hbs"}}
		{{> "modules/monsterblock/templates/dnd5e/main.hbs"}}
	{{/if}}
</form>
